In [3]:
import os
import pandas as pd
import numpy as np
os.getcwd()
import sklearn as sk

In [5]:
os.listdir("data")

['91627a02-ff6a-4fcb-96eb-72c6abca7515.zip',
 'business_id.txt',
 'json_to_csv_converter.py',
 'PhaseIISubmissionFormat.csv',
 'restaurant_ids_to_yelp_ids.csv',
 'SubmissionFormat.csv',
 'train_labels.csv',
 'yelp_academic_dataset_business.csv',
 'yelp_academic_dataset_business.json',
 'yelp_academic_dataset_checkin.csv',
 'yelp_academic_dataset_checkin.json',
 'yelp_academic_dataset_review.csv',
 'yelp_academic_dataset_review.json',
 'yelp_academic_dataset_tip.csv',
 'yelp_academic_dataset_tip.json',
 'yelp_academic_dataset_user.csv',
 'yelp_academic_dataset_user.json',
 'yelp_boston_academic_dataset.tar']

In [24]:
business = pd.read_csv("data/yelp_academic_dataset_business.csv")
train_labels = pd.read_csv("data/train_labels.csv")
review = pd.read_csv("data/yelp_academic_dataset_review.csv")
user = pd.read_csv("data/yelp_academic_dataset_user.csv")
tip = pd.read_csv("data/yelp_academic_dataset_tip.csv")
xwalk = pd.read_csv("data/restaurant_ids_to_yelp_ids.csv")
xwalk.head(10)

  restaurant_id               yelp_id_0 yelp_id_1 yelp_id_2 yelp_id_3
0      Y1Em4GOw  5Kdf1DGbRScRk6Cx3jaX8w       NaN       NaN       NaN
1      KAoKP6Og  Urw6NASrebP6tyFdjwjkwQ       NaN       NaN       NaN
2      WeEe7eoa  xlOE7jqbW1Q_PrvLBVlegQ       NaN       NaN       NaN
3      V430mqoB  ktYpqtygWIJ2RjVPGTxNaA       NaN       NaN       NaN
4      ekE4Qz32  n8CsQy7Iy1IMhP85hPVKPA       NaN       NaN       NaN
5      Pk3wQ9Od  k_NyuJ67p9_D_7iIzsbJUw       NaN       NaN       NaN
6      V430a7oB  O7Wgpxd8iGLKMmnhdbtJuw       NaN       NaN       NaN
7      xWoYpd3K  nUbPzfRH5-d01dSWRv4UZQ       NaN       NaN       NaN
8      WwOa4YoB  J4J7LOfq0AwXqrO7PgSFHQ       NaN       NaN       NaN
9      KAoK283g  edbAEdBrOMTSXsutqzCWTg       NaN       NaN       NaN

In [15]:
print len(business)

def frequency(dataset):
    for i, test in enumerate(dataset):
        print test, "\n"
        by = dataset.groupby([test])
        freq = by[test].agg(len)
        print freq
        print freq.sum()
        print "\n"

1930

In [ ]:
frequency(business)

In [ ]:
print len(review)
print frequency(review)

In [ ]:
df.

In [ ]:
user.columns

In [18]:
# lets make a row for each model

In [40]:
import numpy as np
by = train_labels.groupby(['restaurant_id'])
mean_score = by['*','**','***'].agg(np.mean)

by = review.groupby(['business_id'])
mean_star = by['stars'].agg(np.mean)

# merge the data together using crosswalk

mean_score = pd.merge(mean_score.reset_index(),xwalk, left_on = 'restaurant_id', right_on = 'restaurant_id')
mean_star = pd.merge(mean_score,mean_star.reset_index(),left_on = 'yelp_id_0', right_on = 'business_id')
mean_star.head(10)

one_star = mean_star['***']
ave_star = mean_star['stars']

In [41]:
one_star.corr(ave_star)
one_star.corr(ave_star)
one_star.corr(ave_star)

-0.050571420945722124